[submodule "ecosystem/packages/requests"]
	path = ecosystem/packages/requests
	url = https://github.com/psf/requests.git
	shallow = true
[submodule "ecosystem/packages/rich"]
	path = ecosystem/packages/rich
	url = https://github.com/Textualize/rich.git
	shallow = true
[submodule "ecosystem/packages/pyyaml"]
	path = ecosystem/packages/pyyaml
	url = https://github.com/yaml/pyyaml.git
	shallow = true
[submodule "ecosystem/packages/httpx"]
	path = ecosystem/packages/httpx
	url = https://github.com/encode/httpx
	shallow = true
[submodule "ecosystem/packages/idna"]
	path = ecosystem/packages/idna
	url = https://github.com/kjd/idna.git
	shallow = true

