[submodule "wiki"]
	path = wiki
	url = git@github.com:ophidiarium/cribo.wiki.git
[submodule "ecosystem/packages/requests"]
	path = ecosystem/packages/requests
	url = https://github.com/psf/requests.git
